<template>
  <div fluid class="mb-2 mt-3">
    <h3>อนุมัติการจอง</h3>
    <b-container fluid>
      <!-- <pre>{{data[0]}}</pre> -->
      <!-- <b-table :data="data" :fields="fields"> </b-table> -->
      <!-- <b-row v-for="data in data" :key="data.username">{{ data.username }}</b-row> -->
      <!-- <table>
    </table> -->
    <b-card
      border-variant="secondary"
      header-border-variant="secondary"
      align="left"
    >
      <div v-for="(data, index) in data" v-bind:key="index">
        <div v-if="data.bcStatus == 'Awaiting approval'">
        <table class="table">
          <thead align="center">
            <tr>
              <th scope="col">ลำดับ</th>
              <th scope="col">ห้อง</th>
              <th scope="col">ตึก</th>
              <th scope="col">ผู้จอง</th>
              <th scope="col">หมายเหตุ</th>
              <th scope="col">เวลาเริ่มจอง</th>
              <th scope="col">สิ้นสุดเวลาจอง</th>
              <th scope="col">กระบวนการ</th>
            </tr>
          </thead>
          <tbody>
            <tr align="center">
              <th scope="row">{{ index + 1 }}</th>
              <td>{{ data.room }}</td>
              <td>{{ data.building }}</td>
              <td>{{ data.user }}</td>
              <td>{{ data.note }}</td>
              <td>{{ data.startDate }}</td>
              <td>{{ data.endDate }}</td>
              <td>
                <button class="ml-2 m-2 btn btn-success" v-on:click="approveBCS(data._id)">อนุมัติ</button>
                <button class="btn btn-danger" v-on:click="denyBCS(data._id)">
                  ไม่อนุมัติ
                </button>
              </td>
            </tr>
            <!-- <tr>
    <td><button v-on:click="counter += 1">ลบ</button></td>
    <td></td>
    <td></td>
  </tr> -->
          </tbody>
        </table>
        </div>
      </div>
    </b-card>
      <!-- <div v-for="(data, index) in data" v-bind:key="index">
        <table class="table table-striped">
          <thead align="center">
            <tr>
              <th>ลำดับ</th>
              <th>ชื่อผู้จอง</th>
              <th>วันที่/เวลาจอง</th>
            </tr>
          </thead>
          <tbody>
            <tr align="center">
              <th scope="row">{{ index + 1 }}</th>
              <td>{{ firstResponse.data.username }}</td>
              <td>{{ secondResponse.data.startDate }}</td>
              <td>
                <button
                  class="ml-2 m-2 btn btn-success"
                  v-on:click="counter += 1"
                >
                  แก้ไข</button
                ><button class="btn btn-danger" v-on:click="counter += 1">
                  ลบ
                </button>
              </td>
            </tr>
            <tr>
    <td><button v-on:click="counter += 1">ลบ</button></td>
    <td></td>
    <td></td>
  </tr>
          </tbody>
        </table>
      </div> -->
    </b-container>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  methods: {
    getUserAndgetClassroombcs () {
      axios
        .all([
          axios.get('http://localhost:3000/users'),
          axios.get('http://localhost:3000/classroomBookingCertificate/')
        ])
        .then(
          axios.spread((firstResponse, secondResponse) => {
            this.data = secondResponse.data
            console.log('DATA : ' + this.data)
            // console.log(firstResponse.data, secondResponse.data)
            // console.log(firstResponse, secondResponse)
          })
        )
        .catch((error) => console.log(error))
    },
    approveBCS (_id) {
      const updateBCS = {
        bcStatus: 'Approved',
        approver: 'approver1@mail.com'
      }
      axios.put('http://localhost:3000/classroomBookingCertificate/' + _id, updateBCS)
        .then((res) => {
          console.log(updateBCS)
          this.$router.go()
        })
        .finally(() => {})
    },
    denyBCS (_id) {
      const updateBCS = {
        bcStatus: 'Denied',
        approver: 'approver1@mail.com'
      }
      axios.put('http://localhost:3000/classroomBookingCertificate/' + _id, updateBCS)
        .then((res) => {
          console.log(updateBCS)
          this.$router.go()
        })
        .finally(() => {})
    }
  },
  created () {
    this.getUserAndgetClassroombcs()
  },

  data () {
    return {
      data: ''
    }
  }
}
</script>

<style>
.b-table {
  background-color: rgb(204, 247, 175);
  font-family: sans-serif;
  text-align: center;
  border: 1pt solid rgb(85, 85, 85);
}
.table {
  background-color: rgb(201, 254, 223);
  font-family: sans-serif;
}
</style>
