<template>
  <div fluid class="mb-2 mt-3">
    <h3>จัดการข้อมูลตึก</h3>
    <b-container fluid>
      <!-- <b-card
        border-variant="secondary"
        header-border-variant="secondary"
        align="left"
      > -->
        <!-- <pre>{{data[0]}}</pre> -->
        <!-- <b-table :data="data" :fields="fields"> </b-table> -->
        <!-- <b-row v-for="data in data" :key="data.username">{{ data.username }}</b-row> -->
        <!-- <table>
    </table> -->

        <div v-for="(data, index) in data" v-bind:key="index">
          <table class="table table-striped">
            <thead align="center">
              <tr>
                <th scope="col">ลำดับ</th>
                <th scope="col">ชื่อตึก</th>
                <th scope="col">จำนวนชั้น</th>
                <th scope="col">กระบวนการ</th>
              </tr>
            </thead>
            <tbody>
              <tr align="center">
                <th scope="row">{{ index+1 }}</th>
                <td>{{ data.name }}</td>
                <td>{{ data.floor}}</td>
                <td >
                  <button class="ml-2 m-2 btn btn-success " v-on:click="counter += 1">แก้ไข</button
                  ><button class="btn btn-danger" v-on:click="deleteUser(data._id)">
                  ลบ
                </button>
                </td>
              </tr>
              <!-- <tr>
          <td><button v-on:click="counter += 1">ลบ</button></td>
          <td></td>
          <td></td>
        </tr> -->
            </tbody>
          </table>
        </div>
      <!-- </b-card> -->
    </b-container>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  methods: {
    getBuilding () {
      axios.get('http://localhost:3000/building').then((respones) => {
        this.data = respones.data
        console.log(respones.data)
      })
    },
    deleteUser (_id) {
      axios.delete('http://localhost:3000/building/' + _id).then((respones) => {
        this.data = respones.data
        this.$router.go()
        console.log(respones.data)
      })
    }
  },
  created () {
    this.getBuilding()
  },
  data () {
    return {
      modalShow: false,
      data: ''
    }
  }
}
</script>

<style>
/* .b-table {
  background-color: rgb(204, 247, 175);
  font-family: sans-serif;
  text-align: center;
  border: 1pt solid rgb(85, 85, 85);
} */
.table {
  background-color: rgb(201, 254, 223);
  font-family: sans-serif;
}
</style>
