<template>
  <div class="mb-2 mt-3">
    <h3>ปฏิทิน</h3>
    <b-container fluid>
      <b-card
        border-variant="secondary"
        header-border-variant="secondary"
        align="left"
      >
        <b-calendar
          block
          locale="en-US"
          selected-variant="success"
          today-variant="info"
          nav-button-variant="primary"
        ></b-calendar>
      </b-card>
    </b-container>
  </div>
</template>
<script>

export default {
  name: 'Calendar',
  data () {
    const now = new Date()
    const today = new Date(now.getFullYear(), now.getMonth(), now.getDate())
    // 15th two months prior
    const minDate = new Date(today)
    minDate.setMonth(minDate.getMonth() - 2)
    minDate.setDate(15)
    // 15th in two months
    const maxDate = new Date(today)
    maxDate.setMonth(maxDate.getMonth() + 2)
    maxDate.setDate(15)

    return {
      value: '',
      min: minDate,
      max: maxDate
    }
  }
}
</script>
