<template>
  <div class="mb-2 mt-3">
    <h3>ลงความเห็นการพิจารณา</h3>
    <b-container fluid>
      <b-row>
        <b-col>
          <b-table striped hover :items="items" :fields="fields"> </b-table>
        </b-col>
      </b-row>
    </b-container>
    <h3 class="mb-2 mt-3">ประวัติผู้ขอจอง</h3>
    <b-container fluid>
      <b-form-textarea
        id="textarea-rows"
        placeholder=" "
        rows="9"
      ></b-form-textarea>

      <b-row>
        <b-col class="text-right mb-2 mt-3">
          <b-button
            variant="danger"
            @click="cancel"
            class="m-1"
            style="float: right"
            >ไม่ผ่าน</b-button
          >
          <b-button
            variant="success"
            @click="saveNew"
            class="m-1"
            style="float: right"
            >ผ่าน</b-button
          >
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  methods: {
    getUserAndgetClassroombcs () {
      axios
        .all([
          axios.get('http://localhost:3000/users'),
          axios.get('http://localhost:3000/classroomBookingCertificate/')
        ])
        .then(
          axios.spread((firstResponse, secondResponse) => {
            console.log(firstResponse.data, secondResponse.data)
          })
        )
        .catch((error) => console.log(error))
    }
  },
  data () {
    return {
      fields: [
        { key: 'number', label: 'ลำดับ' },
        { key: 'name', label: 'ชื่อผู้จอง' },
        { key: 'date', label: 'วันที่จอง' },
        { key: 'time', label: 'เวลาที่จอง' },
        { key: 'type', label: 'ประเภทห้อง' },
        { key: 'name_room', label: 'ชื่อห้อง' }
      ],
      items: [
        {
          number: 1,
          name: 'Haechan Lee',
          date: '06-06-2022',
          time: '12:30',
          type: 'ห้องประชุม (A)',
          name_room: '1A - 100'
        },
        {
          number: 2,
          name: 'Jaemin Na',
          date: '12-06-2022',
          time: '14:50',
          type: 'ห้องหนังสือ (D)',
          name_room: '2D - 100'
        },
        {
          number: 3,
          name: 'Renjun Hung',
          date: '22-06-2022',
          time: '16:00',
          type: 'ห้องดูหนัง (F)',
          name_room: '3F - 100'
        }
      ]
    }
  }
}
</script>

<style>
.b-table {
  background-color: rgb(204, 247, 175);
  font-family: sans-serif;
  text-align: center;
  border: 1pt solid rgb(85, 85, 85);
}
</style>
