<template>
<div fluid class="mb-2 mt-3">
    <h3>พิจารณาการจอง</h3>
    <b-container fluid>
    <b-card
      border-variant="secondary"
      header-border-variant="secondary"
      align="left"
    >
    <b-form-textarea
      id="textarea-rows"
      placeholder=" "
      rows="17"
    ></b-form-textarea>

    <b-row>
            <b-col class="text-right mb-2 mt-3">
              <b-button variant="danger" @click="cancel" class="m-1" style="float:right">ไม่ผ่าน</b-button>
              <b-button variant="success" @click="saveNew" class="m-1" style="float:right">ผ่าน</b-button>

            </b-col>

          </b-row>
    </b-card>
    </b-container>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  methods: {
    getClassroombcs () {
      axios.get('http://localhost:3000/classroomBookingCertificate/').then((respones) => {
        this.data = respones.data
        console.log(respones.data)
        console.log(respones.data[0]._id)
        console.log(respones.data[0].note)
      })
    }
  },
  created () {
    this.getClassroombcs()
  }
}
</script>
