<template>
   <div fluid class="mb-2 mt-3">
    <h3>คำถามยอดฮิต</h3>
    <b-container fluid>
    <b-card
      border-variant="secondary"
      header-border-variant="secondary"
      align="left"
    >
    <b-form-textarea
      id="textarea-rows"
      placeholder="โปรดใส่คำถาม "
      rows="12"
    ></b-form-textarea>

    <b-form-textarea class="mb-2 mt-5"
      id="textarea-rows"
      placeholder="โปรดใส่ Email: @gmail.com "
      rows="1"
    ></b-form-textarea>

    <b-row>
            <b-col class="text-right">
              <b-button variant="success" @click="saveNew" class="m-1" style="float:right">ยืนยัน</b-button>
            </b-col>

          </b-row>
    </b-card>
    </b-container>
  </div>
</template>

<script>
export default {
  methods: {
    saveNew () {

    }
  }
}
</script>
