<template>
  <div>
    <br>
    <b-card
      border-variant="secondary"
      header-border-variant="secondary"
      align="left"
    >
    <h2 style="text-align:center">Room Reservation</h2>
    <form v-on:submit.prevent="saveNew" style="text-align:center">
      <div class="form-group">
        <div class="mt-3">ชื่อห้อง:</div>
        <b-form-select
          v-model="form.room"
          :options="room"
          id="room"
        ></b-form-select>
      </div>
      <div class="form-group">
        <div class="mt-3">ชื่อตึก:</div>
        <b-form-select
          v-model="form.building"
          :options="building"
          id="building"
        ></b-form-select>
      </div>
      <div class="form-group">
        <div class="mt-3">เวลาเริ่ม:</div>
        <b-form-select
          v-model="form.startDate"
          :options="startDate"
          id="startDate"
        ></b-form-select>
      </div>
      <div class="form-group">
        <div class="mt-3">เวลาสิ้นสุด:</div>
        <b-form-select
          v-model="form.endDate"
          :options="endDate"
          id="endDate"
        ></b-form-select>
      </div>
      <div class="form-group" v-show="false">
        <div class="mt-3">ผู้ใช้งาน:</div>
        <b-form-select
          v-model="form.user"
          :options="user"
          id="user"
        ></b-form-select>
      </div>
      <div class="form-group" v-show="false">
        <div class="mt-3">ผู้อนุมัติ:</div>
        <b-form-select
          v-model="form.approver"
          :options="approver"
          id="approver"
        ></b-form-select>
      </div>
      <div class="form-group">
        <div class="mt-3">หมายเหตุ:</div>
        <b-form-select
          v-model="form.note"
          :options="note"
          id="note"
        ></b-form-select>
      </div>
      <br>
      <div class="form-group">
        <button class="btn btn-primary">Submit</button>
      </div>
    </form>
    </b-card>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  methods: {
    saveNew () {
      axios
        .post('http://localhost:3000/classroomBookingCertificate/', this.form)
        .then((res) => {
          // console.log('form = ' + JSON.stringify(this.form))
          // alert(this.form)
          alert('Classroom Reservation Data Received. Please wait until approver consider your request. Thank you!!', this.$router.go())
          // this.$router.go()
        })
        .finally(() => {})
    }
    // async created () {
    //   axios.get('http://localhost:3000/users/').then((res) => {
    //     // this.users = res.data,
    //     console.log(this.$items)
    //     // console.log('res = ' + res.data[0]._id + ' ' + res.data[0].username)
    //   })
    // },
    // async GetDataInClassroomBC () {
    //   console.log('item = ' + this.$items)
    // }
    // GetDataInClassroomBC () {
    //   axios.get('http://localhost:3000/users/').then((res) => {
    //     this.users = res.data
    //     this.items.push(res.data)
    //     console.log(this.$items)
    //     // console.log('res = ' + res.data[0]._id + ' ' + res.data[0].username)
    //   })
    //   axios.get('http://localhost:3000/building').then((res) => {
    //     this.building = res.data
    //   })
    //   // alert(this.users[0].username + 'buu = ' + this.building[0].name)
    // }
  },
  data () {
    return {
      selectedroom: null,
      selectedbuilding: null,
      selectedstartdate: null,
      selectedenddate: null,
      selectedadmins: null,
      selecteduser: null,
      selectednotes: null,
      room: [
        { value: null, text: 'โปรดเลือกห้อง' },
        { value: 'IF-3c01', text: 'IF-3c01' },
        { value: 'IF-3c02', text: 'IF-3c02' },
        { value: 'IF-3c03', text: 'IF-3c03' },
        { value: 'IF-3c04', text: 'IF-3c04' },
        { value: 'IF-3m210', text: 'IF-3m210' },
        { value: 'IF-3c01', text: 'IF-3c01' },
        { value: 'IF-3c02', text: 'IF-3c02' },
        { value: 'IF-3c03', text: 'IF-3c03' },
        { value: 'IF-3c04', text: 'IF-3c04' },
        { value: 'IF-3m210', text: 'IF-3m210' },
        { value: 'ไม่มีห้อง', text: 'ไม่มีห้อง', disabled: true }
      ],
      building: [
        { value: null, text: 'โปรดเลือกห้อง' },
        { value: 'Informatics', text: 'Informatics' },
        { value: 'ไม่มีห้อง', text: 'ไม่มีห้อง', disabled: true }
      ],
      startDate: [
        { value: null, text: 'โปรดเลือกเวลา' },
        { value: '09:00', text: '09:00' },
        { value: '10:00', text: '10:00' },
        { value: '11:00', text: '11:00' },
        { value: '13:00', text: '13:00' },
        { value: '14:00', text: '14:00' },
        { value: '15:00', text: '15:00' },
        { value: '16:00', text: '16:00' },
        { value: '17:00', text: '17:00' },
        {
          value: 'ไม่มีเวลาอื่นให้จอง',
          text: 'ไม่มีเวลาอื่นให้จอง',
          disabled: true
        }
      ],
      endDate: [
        { value: null, text: 'โปรดเลือกเวลา' },
        { value: '10:00', text: '10:00' },
        { value: '11:00', text: '11:00' },
        { value: '12:00', text: '12:00' },
        { value: '14:00', text: '14:00' },
        { value: '15:00', text: '15:00' },
        { value: '16:00', text: '16:00' },
        { value: '17:00', text: '17:00' },
        { value: '18:00', text: '18:00' },
        {
          value: 'ไม่มีเวลาอื่นให้จอง',
          text: 'ไม่มีเวลาอื่นให้จอง',
          disabled: true
        }
      ],
      approver: [
        { value: null, text: 'โปรดเลือกชื่อผู้อนุมัติ' },
        { value: 'approver1@mail.com', text: 'approver1@mail.com' },
        { value: 'approver2@mail.com', text: 'approver2@mail.com' }
      ],
      user: [
        { value: null, text: 'โปรดเลือกชื่อ' },
        { value: '62160244@go.buu.ac.th', text: '62160244@go.buu.ac.th' },
        { value: '62160252@go.buu.ac.th', text: '62160252@go.buu.ac.th' },
        { value: '62160277@go.buu.ac.th', text: '62160277@go.buu.ac.th' },
        { value: '62160310@go.buu.ac.th', text: '62160310@go.buu.ac.th' },
        { value: '62160315@go.buu.ac.th', text: '62160315@go.buu.ac.th' }
      ],
      note: [
        { value: null, text: 'โปรดเลือกชื่อ' },
        { value: 'ปากกาเมจิก', text: 'ปากกาเมจิก' },
        { value: 'ปลัํกไฟ', text: 'ปลัํกไฟ' },
        { value: 'รีโมตทีวี', text: 'รีโมตทีวี' }
      ],
      form: {
        room: '',
        building: '',
        startDate: '',
        endDate: '',
        // user: '',
        // approver: '',
        note: ''
      }
    }
  }
}
</script>

<style>
.select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}
</style>
