<template>
  <div fluid class="mb-2 mt-3">
    <h3>จัดการสถานะห้อง</h3>
    <b-container fluid>
    <!-- <pre>{{data[0]}}</pre> -->
    <!-- <b-table :data="data" :fields="fields"> </b-table> -->
    <!-- <b-row v-for="data in data" :key="data.username">{{ data.username }}</b-row> -->
    <!-- <table>
    </table> -->

    <div v-for="(data, index) in data" v-bind:key="index">
      <table class="table table-striped">
        <thead align="center">
        <tr>
          <th>ลำดับ</th>
          <th>ชื่อห้อง</th>
          <th>ชั้น</th>
          <th>ความจุ</th>
          <th>กระบวนการ</th>
        </tr>
        </thead>
        <tbody>
        <tr align="center">
          <th scope="row">{{ index+1 }}</th>
          <td>{{ data.name }}</td>
          <td>{{ data.name }}</td>
          <td>{{ data.capacity }}</td>
          <td>
            <button class="ml-2 m-2 btn btn-success" v-on:click="counter += 1">
              แก้ไข</button
            ><button class="btn btn-danger" v-on:click="deleteUser(data._id)">
                  ลบ
                </button>
          </td>
        </tr>
        <!-- <tr>
    <td><button v-on:click="counter += 1">ลบ</button></td>
    <td></td>
    <td></td>
  </tr> -->
   </tbody>
      </table>
    </div>
    </b-container>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  methods: {
    getRooms () {
      axios.get('http://localhost:3000/rooms').then((respones) => {
        this.data = respones.data
        console.log(respones.data)
      })
    },
    deleteUser (_id) {
      axios.delete('http://localhost:3000/rooms/' + _id).then((respones) => {
        this.data = respones.data
        this.$router.go()
        console.log(respones.data)
      })
    }
  },
  created () {
    this.getRooms()
  },
  data () {
    return {
      modalShow: false,
      data: ''

    }
  }
}
</script>

<style>
.table {
  background-color: rgb(201, 254, 223);
  font-family: sans-serif;
}
</style>
