<template>
  <div fluid class="mb-2 mt-3">
    <h3>ประเภทห้อง</h3>
    <b-container fluid>
    <b-card
      border-variant="secondary"
      header-border-variant="secondary"
      align="left"
    >
      <div>
        <b-card
          img-src="https://meeting-room.eng.cmu.ac.th/images/room_002.jpg"
          img-width="30%"
          img-alt="Card image"
          img-left
          class="mb-1"
          align="center"
        >
          <b-card-text>
            1. ห้องประชุม<br />
            สามารถเข้าใช้งานได้จำนวน : 10-15 ท่าน
          </b-card-text>
        </b-card>
        <b-card
          img-src="https://venuee.s3-ap-southeast-1.amazonaws.com/2019/09/09/l/1568022264-CC-10.jpg"
          img-width="30%"
          img-alt="Card image"
          img-left
          class="mb-1"
          align="center"
        >
          <b-card-text>
            2. ห้องสัมนา<br />
            สามารถเข้าใช้งานได้จำนวน : 45-50 ท่าน
          </b-card-text>
        </b-card>
        <b-card
          img-src="https://www.rama.mahidol.ac.th/learningresources/sites/default/files/public/info/RAM_2979.jpeg"
          img-width="30%"
          img-alt="Card image"
          img-left
          class="mb-1"
          align="center"
        >
          <b-card-text>
            3. ห้องคอมพิวเตอร์<br />
            สามารถเข้าใช้งานได้จำนวน : 8-10 ท่าน
          </b-card-text>
        </b-card>
        <b-card
          img-src="https://image.makewebeasy.net/makeweb/0/3J7vLYTRY/DefaultData/q1_resize_36.jpg"
          img-width="30%"
          img-alt="Card image"
          img-left
          class="mb-1"
          align="center"
        >
          <b-card-text>
            4. ห้องหนังสือ<br />
            สามารถเข้าใช้งานได้จำนวน : 4-5 ท่าน
          </b-card-text>
        </b-card>
        <b-card
          img-src="https://www.karaokeinter.com/wp-content/uploads/2012/01/karaokeinter_room2.jpg"
          img-width="30%"
          img-alt="Card image"
          img-left
          class="mb-1"
          align="center"
        >
          <b-card-text>
            5. ห้องคาราโอเกะ<br />
            สามารถเข้าใช้งานได้จำนวน : 7-8 ท่าน
          </b-card-text>
        </b-card>
        <b-card
          img-src="https://image.makewebeasy.net/makeweb/0/3J7vLYTRY/DefaultData/ho3.jpg"
          img-width="30%"
          img-alt="Card image"
          img-left
          class="mb-1"
          align="center"
        >
          <b-card-text>
            6. ห้องดูหนัง<br />
            สามารถเข้าใช้งานได้จำนวน : 10-13 ท่าน
          </b-card-text>
        </b-card>
        <b-card
          img-src="https://wedding11studio.files.wordpress.com/2012/02/control-11.jpg"
          img-width="30%"
          img-alt="Card image"
          img-left
          class="mb-1"
          align="center"
        >
          <b-card-text>
            7. ห้องอัดเสียง<br />
            สามารถเข้าใช้งานได้จำนวน : 3-4 ท่าน
          </b-card-text>
        </b-card>
      </div>
    </b-card>
    </b-container>
  </div>
</template>
