<template>
  <div class="app-menu h-auto d-inline-block">
    <img src="../assets/buu.png" width="60%" class="pt-2 pb-2" center />
    <b-nav vertical>
      <b-nav-item to="/membermanagement">จัดการข้อมูลหน่วยงาน</b-nav-item>
      <b-nav-item to="/agency">จัดการสถานะห้อง</b-nav-item>
      <b-nav-item to="/reviewer">จัดการข้อมูลตึก</b-nav-item>
      <b-nav-item to="/logout">Logout</b-nav-item>
    </b-nav>
  </div>
</template>
<script>
export default {
  data () {
    return {
      showFormInput: false,
      showForm: false,
      showCrudExample: false
    }
  }
}
</script>
<style>
.app-menu {
  background-color: rgb(204, 201, 201);
  font-size: 13pt;
  text-align: center;
  padding: 3pt;
}
.sub-menu {
  padding-left: 10pt;
}
.nav-link {
  color: white;
  text-align: left;
}
.nav-link:hover {
  color: rgb(225, 133, 248);
}
</style>
