<template>
  <div class="app-menu mh-100">
    <img
      src="../assets/buu.png"
      width="60%"
      class="pt-2 pb-2"
    >
    <b-nav vertical>
      <b-nav-item to="/approve_booking">อนุมัติการจอง</b-nav-item>
      <b-nav-item to="/comment">ลงความเห็นการพิจารณา</b-nav-item>
      <b-nav-item to="/consider_booking">พิจารณาการจอง</b-nav-item>
      <b-nav-item to="/review_report">รายงานการพิจารณา</b-nav-item>
      <b-nav-item to="/login">Logout</b-nav-item>
    </b-nav>
  </div>
</template>
<script>
export default {
  data () {
    return {
      showFormInput: false,
      showForm: false,
      showCrudExample: false
    }
  }
}
</script>
<style>
.app-menu {
  background-color: rgb(204, 201, 201);
  font-size: 13pt;
  text-align: center;
  padding: 3pt;
}
.sub-menu {
  padding-left: 10pt;
}
.nav-link {
  color: white;
  text-align: left;
}
.nav-link:hover {
  color: rgb(225, 133, 248);
}
</style>
