<template>
  <div>
    <b-navbar>
      <img src="../assets/buu.png" width="5%" height="2%" center />
      <b-navbar-nav>
        <b-navbar-brand tag="h1" href="/"></b-navbar-brand>
        <b-navbar-brand tag="h1" href="/calendar">หน้าหลัก</b-navbar-brand>
        <b-navbar-brand tag="h1" href="/reservation_room">ระบบจองห้อง</b-navbar-brand>
        <b-navbar-brand tag="h1" href="/type_room">ประเภทห้อง</b-navbar-brand>
        <b-navbar-brand tag="h1" href="/query">สอบถาม</b-navbar-brand>
        <b-navbar-brand tag="h1" href="/question">คำถามยอดฮิต</b-navbar-brand>

        <b-nav-item-dropdown text="Total Page" right>
          <b-dropdown-item
            ><router-link to="/home">Home</router-link></b-dropdown-item
          >
          <b-dropdown-item
            ><router-link to="/login">Login</router-link></b-dropdown-item
          >
          <b-dropdown-item
            ><router-link to="/approve_booking">อนุมัติการจอง</router-link>
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="/comment">ลงความเห็นการพิจารณา</router-link>
          </b-dropdown-item>
          <b-dropdown-item
            ><router-link to="/consider_booking"
              >พิจารณาการจอง</router-link
            ></b-dropdown-item
          >
          <b-dropdown-item
            ><router-link to="/review_report"
              >รายงานการพิจารณา</router-link
            ></b-dropdown-item
          >
          <b-dropdown-item>
            <router-link to="/membermanagement"
              >จัดการข้อมูลของสมาชิก</router-link
            >
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="/agency"
              >จัดการดูแลระบบภายในหน่วยงาน</router-link
            ></b-dropdown-item
          >
          <b-dropdown-item
            ><router-link to="/reviewer">จัดการลำดับผู้พิจารณา</router-link>
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="/agencymanagement"
              >จัดการข้อมูลหน่วยงาน</router-link
            >
          </b-dropdown-item>
          <b-dropdown-item>
            <router-link to="/status_room"
              >จัดการสถานะห้อง</router-link
            ></b-dropdown-item
          >
          <b-dropdown-item>
            <router-link to="/building_information"
              >จัดการข้อมูลตึก</router-link
            ></b-dropdown-item
          >
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-navbar>
  </div>
</template>
<script>
export default {}
</script>
<style></style>
